body{
    margin: 0px;
}
#container{
    width: 80%;
    margin: 40px auto 40px;
}
ul{
    margin: 0px;
    background-color: black;
}

ul li{
    display: inline-block;
    padding: 18px;
}

ul li a{
    color: wheat;
    text-decoration: none;
    font-size: 22px;
}
ul li:hover{
    background-color: brown;
    cursor: pointer;
}

.mydata{
    width: 30%;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    color: red;
}